<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
   
    
    <link href="~/Content/CssFile/nav.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <div class="col-md-6 col-sm-6">
                <div class="logo justify-content-center">
                    <img src="~/Images/logo_asp.png" alt="logo"  />
                    <span class="text-center">Jewels of culture, Crowned in Love</span>
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-lg-center">
                 
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Product/Index">Bridal Collection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-warning text-dark px-3 ms-lg-3"
                           style="border-radius: 20px;font-size:17px;"
                           href="/Account/Login">
                            Signing In
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class=" p-2 subhead">
        @*<div class="row border border-primary">

            <div class="col">
                <span>Shaadi Shringar</span>
            </div>

            <div class="col">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-warning" type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #FFD43B;"></i></button>
                </form>
            </div>

            <div class="col">
                <ul class="nav">
                    <li class="nav-item">
                        <a href=""><i class="fa-solid fa-heart" style="color: #c10606;"></i>    </a>
                    </li>
                    <li class="nav-item">
                        <button href="#">
                            <i class="fa-solid fa-basket-shopping" style="color: #ecce09;"></i>
                            Cart
                        </button>
                    </li>
                </ul>

            </div>
            <div class="col">

                <div class="btn-group">
                    <button type="button" class="btn btn-light">States</button>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                    

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
            </div>
            </div>

       
        </div>*@
    </div>
     
 
</body>
</html>
