<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link href="~/Content/CssFile/nav.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <div class="col-md-6 col-sm-6">
                <div class="logo justify-content-center">
                    <img src="~/Images/logo_asp.png" alt="logo"  />
                    <span class="text-center">Jewels of culture, Crowned in Love</span>
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-lg-center">
                    @*<li class="nav-item">
                        <a><input type="search" name="s1" /></a>
                    </li>
                    <li class="nav-item">
                        <i class="fa-solid fa-heart" style="color:#f20256;"></i>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Product/Index">Bridal Collection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-warning text-dark px-3 ms-lg-3"
                           style="border-radius: 20px;font-size:17px;"
                           href="/Account/Login">
                            Signing In
                        </a>
                    </li>
                </ul>
            </div>
        </div>
  
    </nav>
  
     
 
</body>
</html>
