@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/CssFile/index.css" rel="stylesheet" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lavishly+YoursLavishly+Yours&family=Pacifico&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Pacifico&family=Sumana:wght@400;700&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">


<main>
    <div class="container-fluid mt-5 px-4">
        <div id="carouselExampleAutoplaying"
             class="carousel slide carousel-fade shadow-lg rounded-4 overflow-hidden"
             data-bs-ride="carousel"
             data-bs-interval="5000">

            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3"></button>
            </div>

            <div class="carousel-inner">


                <div class="carousel-item active">
                    <img src="~/Images/banner2.png" class="carousel-img" alt="Cultural Collection">
                    <div class="carousel-overlay"></div>
                    <div class="carousel-caption">
                        <h2>Cultural Elegance</h2>
                        <p>Inspired by heritage, crafted with love</p>
                    </div>
                </div>

                <div class="carousel-item ">
                    <img src="~/Images/Diverse Cultural Jewelry Logo - Shaadi Shringar.png" class="carousel-img" alt="Shaadi Jewelry">
                    <div class="carousel-overlay"></div>
                    <div class="carousel-caption text-start">
                        <h2>Elegant Bridal Jewelry</h2>
                        <p>Celebrate traditions with timeless designs</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="~/Images/banner1.png" class="carousel-img" alt="ThreadMuse">
                    <div class="carousel-overlay"></div>
                    <div class="carousel-caption text-end">
                        <h2>Bridal Collection</h2>
                        <p>Style that speaks tradition</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="~/Images/banner3.png" class="carousel-img" alt="Indian Collection">
                    <div class="carousel-overlay"></div>
                    <div class="carousel-caption text-start">
                        <h2>Traditional Elegance</h2>
                        <p>Inspired by heritage, crafted with love</p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>


    <div class="container-fluid mt-5">
        <div class="header">
            <h1><i>Welcome</i>,<span>Riddhi</span></h1>
        </div>

        @*<div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Recommended for You
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item’s accordion body.</div>
                    </div>
                </div>
            </div>*@
        </div>
   
     

        <div class="container royal-container">
            <h2 class="title royal-title text-light text-center ">Shaadi Shringaar Collection</h2>
            <div class="royal-divider"></div>
            <div class="culture-strip">
                <p class="sanskrit">
                    “संस्कार, सौंदर्य और परंपरा का संगम”
                </p>
                <p class="english">The celebration of India’s timeless traditions and bridal elegance</p>
            </div>
            <div class="state-grid mt-2 ">

                <div class="shringr-card royal">
                    <img src="~/Images/States/r2.jpg" />
                    <span>Rajasthan</span>
                </div>

                <div class="shringr-card royal">
                    <img src="~/Images/States/m2.jpg" />
                    <span>Maharashtra</span>
                </div>

                <div class="shringr-card royal">
                    <img src="~/Images/States/g1.jpg" />
                    <span>Gujrat</span>
                </div>

                <div class="shringr-card royal">
                    <img src="~/Images/States/p1.jpg" />
                    <span>Punjab</span>
                </div>

                <div class="shringr-card royal">
                    <img src="~/Images/States/b1.jpg" />
                    <span>West Bengal</span>
                </div>

                <div class="shringr-card royal">
                    <img src="~/Images/States/k1.jpg" />
                    <span>Kashmir</span>
                </div>

                <div class="shringr-card royal">
                    <img src="~/Images/States/S1.jpg" />
                    <span>South India</span>
                </div>
                <div class="shringr-card royal">
                    <img src="~/Images/States/ass1.jpg" />
                    <span>Assam</span>
                </div>
            </div>
        </div>

        <div class="container ">
            <h2 class="title section-title-ear text-center">Earings Collections</h2>
            <div class="royal-divider"></div>

         
            <div class="row">
                <div class="col ">
                    <div class="card card-err">
                        <img src="~/Images/Earings/jhumka1.png" class="card-img-top" alt="...">
                        Jhumaka's

                    </div>
                 <h5>Kundan Bridal Jhumka's</h5>
                 <span class="badge">Bridal Special</span>

                </div>
          
                <div class="col">
                    <div class="card card-err">
                        <img src="~/Images/Earings/earcuff1.jpg" />

                    </div>
                    <h5>Ear-Cuffs</h5>
                    @*<span class="badge">Sister Special</span>*@

                </div>
                <div class="col">
                    <div class="card card-err">
                        <img src="~/Images/Earings/hoop1.jpg" />

                    </div>
                    <h5>Kundan Bridal Jhumka's</h5>
                    <span class="badge">Bridal Special</span>

                </div>
                <div class="col">
                    <div class="card card-err">
                        <a href="/Account/Register">  
                        <img src="~/Images/Earings/studs1.jpg" />
                        </a>
                    </div>
                    <h5>Kundan Bridal Jhumka's</h5>
                    <span class="badge">Bridal Special</span>

                </div>
            </div>
        </div>





</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
